/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Importing Bootstrap SCSS file. */
@import 'ngx-toastr/toastr';
@import "bootswatch/dist/lumen/variables";
@import "bootstrap/scss/bootstrap";
@import "bootswatch/dist/lumen/bootswatch";
@import "ngx-bootstrap/datepicker/bs-datepicker";

@import "./assets/scss/index";

.urn-logo-secundaria {
  width: 45px;
}

.urn-logo-principal {
  width: 18.4em;
  height: 15em;
}

.urn-drawer-icon {
  transform: scale(1.2);
  margin-right: 4px;
}
.urn-logotipo-pagina {
  max-width: 350px;
}
