<div class="container-fluid">
  <form class="my-2" [formGroup]="formParametro">
    <div class="card rounded mat-elevation-z4">
      <div class="card-header rounded text-center text-white bg-dark">
        <h1 class="mt-2">Formulário de Parâmetros de Eleição</h1>
      </div>
      <div class="card-body p-0 mt-1 bg-white  text-black">
        <div class="row m-0 mb-1">
          <h4 class="border-bottom mt-2">
            Dados de Cadastro
          </h4>
          <div fxLayout="row">
            <mat-form-field fxFlex="25" class="p-1">
              <mat-label>Turno</mat-label>
              <mat-select
                matNativeControl
                formControlName="turno"
                (selectionChange)="verificarTurno()"
              >
                <mat-option value="Primeiro">Primeiro</mat-option>
                <mat-option value="Segundo">Segundo</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="25" class="p-1">
              <mat-label>Limiete Habitantes</mat-label>
              <input matInput type="number" formControlName="qtdVotosSomentePrimeiroTurno" [ngClass]="fieldValidator(ctrF.qtdVotosSomentePrimeiroTurno)">
              <mat-error class="invalid-feedback">{{messageReturned(ctrF.qtdVotosSomentePrimeiroTurno, '')}}</mat-error>
            </mat-form-field>
            <mat-form-field fxFlex="25" class="p-1">
              <mat-label>Num. Cadeiras</mat-label>
              <input matInput type="number" formControlName="qtdCadeiras" [ngClass]="fieldValidator(ctrF.qtdCadeiras)">
              <mat-error class="invalid-feedback">{{messageReturned(ctrF.qtdCadeiras,'')}}</mat-error>
            </mat-form-field>
            <mat-form-field fxFlex="40" class="p-1">
              <mat-label>Cidade</mat-label>
              <mat-select
                matNativeControl
                formControlName="cidadeId"
                (selectionChange)="verificarCidade()"
                 >
                @for (cidade of cidades; track $index) {
                <mat-option [value]="cidade.id"><b>{{cidade.siglaEstado}}</b> - {{cidade.nome}}</mat-option>
                }
              </mat-select>
              <mat-error class="invalid-feedback">{{
                messageReturned(ctrF.cidadeId, "")
              }}</mat-error>
            </mat-form-field>
          </div>
          <div fxLayout="row">
            <mat-form-field fxFlex="25" class="p-1">
              <mat-label>Data Primeiro Turno</mat-label>
              <input
                matInput
                [matDatepicker]="dataEleicaoPrimeiroTurno"
                formControlName="dataEleicaoPrimeiroTurno"
                [ngClass]="fieldValidator(ctrF.dataEleicaoPrimeiroTurno)"
                readonly
              />
              <mat-datepicker-toggle
                matIconSuffix
                class="text-info"
                [for]="dataEleicaoPrimeiroTurno"
              ></mat-datepicker-toggle>
              <mat-datepicker
                #dataEleicaoPrimeiroTurno
              ></mat-datepicker>
            </mat-form-field>
            <mat-form-field fxFlex="25" class="p-1">
              <mat-label>Data Segundo Turno</mat-label>
              <input
                matInput
                [matDatepicker]="dataEleicaoSegundoTurno"
                formControlName="dataEleicaoSegundoTurno"
                [ngClass]="fieldValidator(ctrF.dataEleicaoSegundoTurno)"
                readonly
              />
              <mat-datepicker-toggle
                matIconSuffix
                class="text-info"
                [for]="dataEleicaoSegundoTurno"
              ></mat-datepicker-toggle>
              <mat-datepicker
                #dataEleicaoSegundoTurno
              ></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <div class="card-footer bg-dark mt-1 ">
          <div class="d-flex ">
            <button class="btn btn-outline-danger ms-auto mx-1" (click)="clearForm()">
              Limpar
            </button>
            <button class="btn btn-outline-primary mx-1 px-4" [disabled]="!formParametro.valid" (click)="saveChange()">
              {{editMode ? "Salvar" : "Criar"}}
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<!-- <p>Form Value: {{formParametro.value | json}}</p>
  <p>Form Status: {{formParametro.status | json}}</p>
 -->
